.container{
  background-color: rgb(12, 10, 10);
  height: 100%;
  color: rgb(188, 195, 201);  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.character__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;  
}
.character__image{
  width: 30px;
  height: 30px;
}